<h1 class='page-header'>History</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <th>Date</th>
      <th>Opponent</th>
      <th>Score</th>
      <th>Result</th>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.played_at %></td>
          <td><%= game.opponent.email %></td>
          <td><%= game.score %></td>
          <td><%= result_text(game) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
